<div class="sidebar">
    <div class="logo">
        <a href="#" [routerLink]="['/admin']">
            <img src="https://trello.com/1/cards/6390039d7b9c510097792303/attachments/6390ad3975cd4c01b628cb5c/download/image.png"
                alt="Logo" />
        </a>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="#" [routerLink]="['/home']">
                    <span class="fa fa-home"></span>
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fas fa-book"></span>
                    <span>Your Library</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fas fa-heart"></span>
                    <span>Liked Songs</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="policies">
        <ul>
            <li>
                <a href="#">Hidal Team</a>
            </li>
        </ul>
    </div>
</div>