<!-- Spotify content area-->
<div class="content">
    <div class="banner">
        <div class="banner-title">
            Admin Page
        </div>
    </div>
    <div class="box">
        <div class="tool-box">
            <div id="uploader-frame">
                <button class="uploader" (click)="upload()">
                    <input id="input" style="width: 0;" type="file" class="file-upload" (change)="ChangeUpload($event.target)" multiple>
                    <a class="fa fas fa-solid fa-upload"></a>
                    <span> Upload </span>
                </button>
            </div>
        </div>
        <section id="list">
            <div class="head">
                <div class="head-title">title</div>
                <div class="head-title">view</div>
                <div class="head-title right">
                    duration
                </div>
            </div>
            <div class="item" *ngFor="let perform of performanceSongs">
                <div class="song" (click)="selectToLoad(perform);setCurrentSongData(perform)">
                    <span class="fas fa-music-note"></span>
                    <img src={{perform.image}} >
                    <div class="text">
                        <div class="song_name">{{perform.songName}}</div>
                        <a href="#">{{perform.singerName}}</a>
                    </div>
                </div>
                <div class="view">
                    {{perform.viewed}}
                </div>
                <div class="monitor right">
                    <div class="monitor-box">
                        <span class="fa fa-regular fa-heart icon"></span>
                        <div class="duration">3:23</div>
                    </div>
                </div>
                <div class="editor">
                    <a class="fa fa-solid fa-circle-xmark icon" (click)="delete(perform)"></a>
                </div>
            </div>
        </section>
    </div>
</div>