.content {
    background-color: #eee8b1;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.banner {
    height: 340px;
    background: #48bd61;
    float: left;
}
.box {
    height: max-content;
    background: #26beaa;
    float: left;
    display: flex;
    flex-direction: column;
}
.tool-box {
    height: 104px;
    display: block;
    background-color: brown;
}
#uploader-frame {
    height: 56px;
    margin: 24px 32px;
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.uploader {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
}
#rightsection {
    overflow: auto;
	flex-grow: 2;
	padding: 10px;
    width: 680.1px;
    height: 319px;
    display: block;
}
.bdanzer-spotify-sticky-song {
    height: 25px;
    width: 605px;
    background: #181818;
    margin-top: 50px;
    position: absolute;
    margin-left: 25px; 
    border-bottom: grey;
}
.bdanzer-song {
    width: 250px;

    display: inline-block;
    margin-left: 70px;
    color: #959595;
    font-size: 12px;
}
.bdanzer-artist {

    width: 170px;
    display: inline-block;
    color: #959595;
    font-size: 12px;
}
#rightsection ul {
    list-style: none;
}