<!-- Spotify content area-->
<div class="content">
    <div class="banner">
        <div class="banner-title">
            Admin Page
        </div>
    </div>
    <div class="box">
        <div class="tool-box">
            <div id="uploader-frame">
                <button class="uploader" (click)="fakeUpload()">
                    <a class="fa fas fa-solid fa-upload"></a>
                    <span> Upload </span>
                </button>
            </div>
        </div>
        <section id="list">
            <div class="head">
                <div class="head-title">title</div>
                <div class="head-title">view</div>
                <div class="head-title right">
                    duration
                </div>
            </div>
            <div class="item" *ngFor="let perform of performanceSongs">
                <div class="song">
                    <span class="fas fa-music-note"></span>
                    <img src="https://avatar-ex-swe.nixcdn.com/song/2022/09/23/2/3/3/a/1663924304766_640.jpg">
                    <div class="text">
                        <div class="song_name">{{perform.songName}}</div>
                        <a href="#">{{perform.singerName}}</a>
                    </div>
                </div>
                <div class="view">
                    <audio controls autoplay>
                        <source src="https://7199-2402-800-6294-ccf2-8954-de15-c0f4-fa21.ap.ngrok.io/UploadFile/host/music/AlabaTrap-TommyTeo-7ed3c561-143c-4d50-92f1-8d5c686d93a8.mp3" type="audio/ogg">
                      </audio>
                </div>
                <div class="monitor right">
                    <div class="monitor-box">
                        <span class="fa fa-regular fa-heart icon"></span>
                        <div class="duration">3:23</div>
                    </div>
                </div>
                <div class="editor">
                    <a class="fa fa-solid fa-circle-xmark icon" (click)="delete(perform)"></a>
                </div>
            </div>
        </section>
    </div>
</div>