<!-- Spotify content area-->
<div class="content">
    <div class="banner">
    </div>
    <div class="box">
        <div class="tool-box">
            <div id="uploader-frame">
                <div class="uploader">
                    <span class="fa fa-plus"></span>
                </div>
            </div>
        </div>
        <section id="rightsection">
            <div class="bdanzer-spotify-sticky-song"><span class="bdanzer-song">SONG</span>
                <span class="bdanzer-artist">ARTIST</span>
                <svg>
                    <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z"></path>
                    <path d="M8 3.25a.75.75 0 01.75.75v3.25H11a.75.75 0 010 1.5H7.25V4A.75.75 0 018 3.25z">
                    </path>
                </svg>
            </div>

            <ul>
                <li><span>I Know There's</span></li>
                <li><span>I Know There's</span></li>
                <li><span>I Know There's Gonna Be (...</span><span>Jamie xx</span><span
                        style="padding-left: 95px;">2015-06-02</span></li>
                <li><span>I Know There's Gonna Be (...</span><span>Jamie xx</span><span
                        style="padding-left: 95px;">2015-06-02</span></li>
                <li><span>I Know There's Gonna Be (...</span><span>Jamie xx</span><span
                        style="padding-left: 95px;">2015-06-02</span></li>
            </ul>
        </section>
    </div>
</div>