<div class="spotify-playlists">
    <h2>Hidal Playlists</h2>

    <div class="list">
        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Today's Top Hits</h4>
            <p>Rema & Selena Gomez are on top of the...</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>RapCaviar</h4>
            <p>New Music from Lil Baby, Juice WRLD an...</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>All out 2010s</h4>
            <p>The biggest spmgs pf tje 2010s. Cover:...</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Rock Classics</h4>
            <p>Rock Legends & epic songs that continue t...</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Chill Hits</h4>
            <p>Kick back to the best new and recent chill...</p>
        </div>
    </div>
</div>

<div class="spotify-playlists">
    <h2>Focus</h2>
    <div class="list">
        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>chill lofi study beats</h4>
            <p>The perfect study beats, twenty four...</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Coding Mode</h4>
            <p>Dedicated to all the programmers out there.</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Focus Flow</h4>
            <p>Uptempo instrumental hip hop beats.</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Calm Before The Storm</h4>
            <p>Calm before the storm music.</p>
        </div>

        <div class="item">
            <img src="https://i.scdn.co/image/ab67616d00001e02f2bf9685109a09bdc176fb43" />
            <div class="play">
                <span class="fa fa-play"></span>
            </div>
            <h4>Beats to think to</h4>
            <p>Focus with deep techno and tech house.</p>
        </div>
    </div>
</div>

<!--
<div class="preview">
    <div class="text">
        <h6>Preview of Hidal</h6>
        <p>Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p>
    </div>
    <div class="button">
        <button type="button">Sign up free</button>
    </div>
</div> -->

